<section th:fragment="conteudo">
    <section class="hero container">
        <div class="hero-text">
            <p class="text-primary mb-1">
                Bem-vindo, <small class="text-muted" th:text="${nome}" style="text-transform: capitalize; margin-top: 55%"></small>
            </p>
            <h1>Aqui sua saúde está em <span>boas mãos!</span></h1>
            <p>Mais do que tratamentos, oferecemos <strong>cuidado integral e personalizado</strong> para você alcançar uma vida mais saudável e equilibrada.</p>
            <a href="/agendar" class="btn btn-agendar">Agende sua consulta hoje</a>
        </div>
        <div class="hero-graphic">
            <img src="/img_1.png" alt="Saúde e cuidado">
        </div>
    </section>
</section>